{% if messg %}

<script>
  alert("{{ messg }}");
</script>
{% load static%} {% endif %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <link
    rel="stylesheet"
    href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css"
  />
  <title>Sign Up</title>
  <body>
    <br />
    <br />
    <br />

    <br />
    <main class="form-signin">
      <form action='{% url "postsignup" %}' method="post">
        {% csrf_token %}
        <div class="center">
          <img
            class="mb-4"
            src="{% static 'logo1.png' %}"
            alt=""
            width="300"
            height="165"
          />
          <img
            class="mb-4"
            src="{% static 'text.png' %}"
            alt=""
            width="300"
            height="80"
          />
          <h1 class="h3 mb-3 fw-normal">Enter Details</h1>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            name="name"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Name Please</label>
        </div>
        <br />
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="email"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <br />
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            name="password"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Sign In
        </button>
        <br />
      </form>
    </main>
  </body>
</html>
